body {
    margin: 0;
    font-size: 18px;
}
header{
    background-color: #16324B;
    border: 1px solid #dadada;
}
header nav{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}
header nav span a{
    text-decoration: none;
    font-size: 18px;
    color: orange;
    margin-left: 20px;
}
h1 {
    text-align: center;
    color: #16324B;
}
main{
 display: flex;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo{
    text-align: center;
}
.photo, info{
    padding: 30px;
}
.photo {
    width: 33%;
}
.info {
    width: 66%;
}
#status{
    margin-left: 30px;
    color: blue;
    width: 100%;
}
#appWrapper, #roomsWrapper{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#roomsWrapper{
    margin-top: 5px;
    width: 100%;
}
table{
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
    border: solid 1px #16324B;
    text-align: center;
}
.roomsList{
    padding-left: 0;
}
.roomsList > li{
    list-style-type: none;
    margin-bottom: 3px;
}
.roomsList > li:first-child{
    color: blue;
}
li:hover{
cursor: pointer;
}

.active{
    animation: MyAnimation 2s;
    animation-iteration-count: 1;
}
@keyframes MyAnimation {
    from {  background-color: #76bcff; }
     to {  background-color: white;}
}

.active2{
    animation: MyAnimation2 2s;
    animation-iteration-count: 1;
}
@keyframes MyAnimation2 {
    from {  background-color: #ff6cd8; }
    to {  background-color: white;}
}

